pia_realm {
  org.apache.openejb.core.security.jaas.SQLLoginModule required
  dataSourceName="piaDatabase"
  userSelect="SELECT account_id, password FROM accounts WHERE account_id=?"
  groupSelect="SELECT account_id, role FROM account_roles WHERE account_id=?"
  digest="SHA-256"
  encoding="base64";
};
