@CHARSET "UTF-8";

fieldset {
	width: 300px;
	margin: auto;
	background-image: url("Form.png");
	background-repeat: no-repeat;
	background-position: 250px 30px;
}

label {
	font-weight: bold;
}

legend {
	font-size: larger;
}