<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <listener>
        <listener-class>
            pia.util.DBManager
        </listener-class>
    </listener>

    <context-param>
        <param-name>university</param-name>
        <param-value>University of West Bohemia</param-value>
    </context-param>
    <context-param>
        <param-name>dbServer</param-name>
        <param-value>students.kiv.zcu.cz</param-value>
    </context-param>
    <context-param>
        <param-name>dbPort</param-name>
        <param-value>3306</param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>pia</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>pia</param-value>
    </context-param>
    <context-param>
        <param-name>dbDatabase</param-name>
        <param-value>pia</param-value>
    </context-param>

    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>pia.IndexServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Var1</servlet-name>
        <servlet-class>pia.servlet.Variables1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Var2</servlet-name>
        <servlet-class>pia.servlet.Variables1</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>Test1</servlet-name>
        <servlet-class>pia.servlet.Test1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test2</servlet-name>
        <servlet-class>pia.servlet.Test2</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FormGet</servlet-name>
        <servlet-class>pia.servlet.FormGet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormPost</servlet-name>
        <servlet-class>pia.servlet.FormPost</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Var1</servlet-name>
        <url-pattern>/var1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Var2</servlet-name>
        <url-pattern>/var2</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Test1</servlet-name>
        <url-pattern>/test1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test2</servlet-name>
        <url-pattern>/test2</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FormGet</servlet-name>
        <url-pattern>/FormGet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormPost</servlet-name>
        <url-pattern>/FormPost</url-pattern>
    </servlet-mapping>
</web-app>
